@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP:wght@500&display=swap');
h1,h2,h3 {
    font-family: 'Noto Sans';
    color: #F8F8FF;
}
p {
    font-family: 'Lato';
    color: #F8F8FF;
}
body {
    background-color: #007EA7;
}
header {
    background-color: #003249;
    width: 100%;
}
footer {
    background-color: #003249;
    width: 100%;
}
nav a {
    color: #CCDBDC;
    font-family: 'Lato';
}
.nav-div {
    background-color: black;
    width: 100%;
}
a {
    color: #CCDBDC;
}
.weather-site-logo {
    max-width: 7rem;
}
.weather-sec-1 {
    border-style: solid;
}
.weather-sum-div {
    border-style: solid;
    max-width: 12rem;
}
.weather-sec-2 {
    border-style: solid;
}
.weather-sec-3 {
    border-style: solid;
}