header {
  background-color: #7BA098;
  border-radius: 4px;  
}
body {
    width: 550px;
}
footer {
  background-color: #7BA098;
  border-radius: 4px;  
}
.profile-image {
    height: 225px;
    float: right;
    border-radius: 3px;
    box-shadow: 5px 5px grey;
}