header {
  background-color: #7BA098;
  border-radius: 4px;
  padding: 20px 30px 20px 30px;   
}
body {
    width: 550px;
}
footer {
  background-color: #7BA098;
  border-radius: 4px;
  padding: 15px 25px 15px 25px;
}
.profile-image {
    height: 175px;
    float: right;
    border-radius: 3px;
    box-shadow: 5px 5px rgb(199, 199, 199);
}
.course-headline {
    border-bottom: rgb(165, 164, 164);
}