body {
  width: 550px;
}
  header {
  background-color: #7BA098;
  border-radius: 4px;
  padding: 15px 20px 15px 20px;   
}
footer {
  background-color: #7BA098;
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
}
.profile-image {
    height: 175px;
    float: right;
    margin-bottom: 40px;
    margin-right: 10px;
    border-radius: 3px;
    box-shadow: 5px 5px rgb(199, 199, 199);
}
.course-headline {
    border-bottom: rgba(165, 164, 164, 0.534);
}