h1,h2,h3,h4 {
    font-family: 'Lato', 'Sans-Serif';
}
p {
    font-family: 'Roboto', 'Sans-Serif'; 
}
ol li {
    font-family: 'Roboto', 'Sans-Serif';
}
img {
    max-width: 100%;
    display: block;
    width: 550px;
    border-radius: 6px;
}
sec-1 {
    border-style: solid;
    border: black;
}
sec-2 {
    border-style: solid;
    border: black;
}
sec-3 {
    border-style: solid;
    border: black;
}