h1,h2,h3,h4 {
    font-family: 'Lato', 'Sans-Serif';
}
h1 {
    background-color: #5B7553;
    color: white;
}
p {
    font-family: 'Roboto', 'Sans-Serif'; 
}
ol li {
    font-family: 'Roboto', 'Sans-Serif';
}
img {
    max-width: 100%;
    display: block;
    width: 550px;
    border-radius: 6px;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: auto;
}
article {
    border-style: solid;
    border-color: grey;
    border-radius: 7px;
    background-color: rgb(226, 224, 224);
}
.principle-1 {
    width: 100%;
    padding: 50px, 50px, 50px, 50px;
}