@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP:wght@500&display=swap');
/****** CSS that applies to all pages*****/
h1,h2,h3,h4 {
    font-family: "Noto Sans JP";
    color: black;
}
p {
    font-family: "Lato";
    color: black;
}
a {
    color: rgb(0, 0, 139);
}
a:hover {
    color: darkred;
  }
body {
    background-color: darkgrey;
}
header {
    background-color: #7BA098;
}
table {
    width: 60%;
}
table td {
    border-style: solid;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
nav a {
    margin: 5px 5px 5px 5px;
}
/* ###### CSS for Index page ############*/
.logo {
    width: 7rem;
}
.lesson-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
/*********** CSS for target-audience page**********/

/*********** CSS for color-scheme page************/ 
.primary {
    background-color: #007EA7;
}
.secondary {
    background-color: #CCDBDC;
}
.accent-1 {
    background-color: #003249;
    color: white;
}
.accent-2 {
    background-color: #F8F8FF;
}
.accent-3 {
    background: #000000;
    color: #F8F8FF;
}
/************** CSS for typography page************/
.color-1 {
    color: black;
}
.sample-1 {
    background-color: #003249;
    color: #F8F8FF;
}
.color-2 {
    color: black;
}
.sample-2 {
    background-color: #003249;
    color: #CCDBDC;
}
.color-b {
    color: black;
}
.sample-b {
    background-color: #007EA7;
    color: #F8F8FF;
}
.color-3 {
    color: black;
}
.sample-3 {
    background-color: #003249;
    color: #F8F8FF;
}
.color-4 {
    color: black;
}
.sample-4 {
    background-color: #003249;
    color: #F8F8FF;
}
.color-5 {
    color: #000000;
}
.sample-5 {
    background-color: #007EA7;
    color: #F8F8FF;
}
.color-6 {
    color: #000000;
}
.sample-6 {
    background-color: #007EA7;
    color: #F8F8FF;
}
.color-7 {
    color: #000000;
}
.sample-7 {
    background-color: #007EA7;
    color: #F8F8FF;
}
.example-div {
    width: 60%;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
}